#root {
}
p {
  font-size: 0.75rem;
} 
h2 {
  font-weight: 900;
}
.red {
  color: rgb(253, 82, 120);
}
.underlined {
  text-decoration: underline;
}
.movie-listing p {  
  margin: 0.5rem 0;
  font-weight: 300;
  letter-spacing: 0.0625rem;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.search-field {
  font-size: 3.375rem;
  border: none;
  font-weight: 900;
  outline: none;
  background: none;
  width: auto;
  padding: 1.25rem;
  padding-bottom: 0;
}
.results {
  position: relative;
  /* background: rgba(123,80,251,1);
  color: white; */
  padding: 1rem 1.25rem;
  margin-top: -0.75rem;
}
.underline {
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background: rgba(123,80,251,1);
  /* background: linear-gradient(90deg, rgba(255,52,52,1) 0%, rgba(255,162,0,1) 10%, rgba(242,218,24,1) 22%, rgba(132,224,44,1) 34%, rgba(90,251,149,1) 45%, rgba(46,217,231,1) 56%, rgba(45,112,252,1) 66%, rgba(123,80,251,1) 75%, rgba(198,82,255,1) 85%, rgba(255,35,169,1) 92%); */
  top: 4.4375rem;
  left: 0;
  z-index: -1;
}
.film-details {
  padding: 0.125rem 1.25rem;
  max-width: 31.25rem;
}
.fa {
  padding-right: 0.1875rem;
}
.like {
  padding-right: 0.5rem;
  cursor: pointer;
  color: rgb(253, 82, 120);  
}
.black {
  color: black;
}

.favourite-movies {
  padding: 0.5rem 1.25rem;
}

@media (min-width: 43.75rem) {
  .favourite-movies {
    position: absolute;
    right: 0;
    top: 4.9375rem;
    text-align: right;
    max-width: 12.5rem;
  }
}

::placeholder { 
  color: rgba(123,80,251,1);
}
::-ms-input-placeholder { 
  color: rgba(123,80,251,1);
}